.textblock {
  max-width: 620px;

  p {
    font-size: 16px;
    line-height: 160%;
    font-family: "Spectral", serif;
    white-space: pre-wrap;
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 112%;
    font-family: "Spectral", serif;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
