.middleContainer {
  display: flex;
}

.inputContainer {
  /* background-color: rgb(255, 7, 7); */
  /* width: 295px; */

  min-width: 200px;
  max-width: 275px;
  position: relative;
}

.outerOutputContainer {
}

.outputContainer {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outputInnerContainer {
  display: flex;
  flex-direction: row;
  max-width: 610px;
  justify-content: center;
}

.outputLabel {
  font-family: "Spectral", serif;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  max-width: 170px;
}

.output {
  /* background-color: yellow; */
  height: 400px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.output img {
  width: 80%;
  height: 85%;
  object-fit: contain;
}

.explanation {
  width: 295px;
  height: 300px;
  /* background-color: hotpink; */
}

.explanationText {
  font-family: "Spectral", serif;
  font-size: 12px;
  line-height: 120%;
}

.sectionHeader {
  font-family: "Spectral", serif;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 16px;
  display: flex;
  /* color:white; */
}

.outputStat {
  background-color: transparent;
  border: 0;
  text-align: center;
  font-family: "Spectral", serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 106%;
  width: fit-content;
  pointer-events: none;
}

.Item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 190px;
}

.secondaryInputs {
  background-color: transparent;
  max-height: 0;

  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.show {
  max-height: 500px; /* Adjust based on content */
  opacity: 1;
}

.hide {
  max-height: 0;
  opacity: 0;
}

.secondaryInputsHeader {
  background-color: transparent;
  border: 0;
  padding-top: 36px;
}

.secondaryInputsHeader:hover {
  color: rgba(0, 0, 0, 0.5);
}

.simulationhead {
  font-size: 36px;
  line-height: 92%;
  font-family: "Spectral", serif;
  text-align: center;
}

.resetContainer {
  background-color: transparent;
  border: 0;
  font-family: "Spectral", serif;
  opacity: 50%;
  position: absolute;
  top: -30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.svg {
  height: 20px;
  width: 20px;
  margin-right: 2px;
  margin-bottom: 4px;
}

.svg img {
  height: 100%;
  width: 100%;
}

.resetContainer:hover {
  opacity: 100%;
}

.sectionButtonContainer {
  width: 100%;
  height: 34px;
  display: flex;
  padding-left: 36px;
  padding-right: 36px;
}

.sectionButton {
  border: none;
  font-family: "Spectral", serif;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  flex: 1;
  border-bottom: solid black 1px;
}

.sectionButtonDeselected {
  background-color: transparent;
  border: none;
  font-family: "Spectral", serif;
  font-size: 12px;
  height: 100%;
  flex: 1;
  color: rgba(0, 0, 0, 0.25);
  border-bottom: solid rgba(0, 0, 0, 0.25) 1px;
}

.sectionButtonDeselected:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: solid rgba(0, 0, 0, 1) 1px;
  background-color: rgba(255, 255, 255, 1);
}

.sectionButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

.overlaybutton {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 0;
  opacity: 50%;
  margin-left: 8px;
  cursor: pointer;
}

.overlaybutton img {
  height: 100%;
  width: 100%;
}
