@use "../../styles/layout";

.container {
  width: 100%;
}

.middleContainer {
  display: flex;
  width: 100%;
}

.inputContainer {
  display: none;
  width: 100%;

  @include layout.md {
    display: block;
    min-width: 200px;
    max-width: 275px;
    position: relative;
  }
}

.outerOutputContainer {
  width: 100%;
}

.outputContainer {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outputInnerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 610px;
  justify-content: center;
}

.outputLabel {
  font-family: "Spectral", serif;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  max-width: 170px;
  cursor: default;
}

.output {
  background-color: #fff5e5;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include layout.md {
    //min-width: 500px;
  }
}

.outputImage {
  width: 80%;
  height: 85%;
  object-fit: contain;
}

/* Explanation container */
.explanation {
  width: 295px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 20;
  padding: 24px;
  border: solid 1px black;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out; /* Transition for fading */
  pointer-events: none;
}

/* When description is visible, fade in */
.explanation.visible {
  opacity: 1;
}

.explanationText {
  font-family: "Spectral", serif;
  font-size: 12px;
  line-height: 120%;
}

.sectionHeader {
  font-family: "Spectral", serif;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 16px;
  display: flex;
  /* color:white; */
}

.outputStat {
  background-color: transparent;
  border: 0;
  text-align: center;
  font-family: "Spectral", serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 106%;
  width: fit-content;
  pointer-events: none;
}

.Item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(1 / 3 * 100%);
  max-width: 190px;
  align-items: center;
}

.Item:hover{
  background-color: rgba(255, 255, 255, 0.8);
}


.secondaryInputs {
  background-color: transparent;
  max-height: 0;

  opacity: 0;
  transition:
    opacity 0.3s ease-out,
    max-height 0.3s ease-out;
}

.expanded {
  max-height: 500px;
  opacity: 1;
}

.hide {
  max-height: 0;
  opacity: 0;
}

.secondaryInputsHeader {
  background-color: transparent;
  border: 0;
  padding-top: 36px;
}

.secondaryInputsHeader:hover {
  color: rgba(0, 0, 0, 0.5);
}

.simulationhead {
  font-size: 36px;
  line-height: 92%;
  font-family: "Spectral", serif;
  text-align: center;
}

.simbuttonContainer {
  position: absolute;
  top: -40px;
  display: flex;
  gap: 12px;
}

.resetContainer {
  background-color: transparent;
  border: 0;
  font-family: "Spectral", serif;
  opacity: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.descriptionContainer {
  background-color: transparent;
  border: 0;
  font-family: "Spectral", serif;
  opacity: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.descriptionContainer.visible {
  opacity: 100%; /* Full opacity when description is visible */
}

.descriptionContainer.visible:hover {
  opacity: 50%; /* Full opacity when description is visible */
}

.descriptionContainer:hover {
  opacity: 50%;
}

.svg {
  height: 20px;
  width: 20px;
  margin-right: 2px;
  margin-bottom: 4px;
}

.svg img {
  height: 100%;
  width: 100%;
}

.resetContainer:hover {
  opacity: 50%;
}

.sectionButtonContainer {
  width: 100%;
  height: 34px;
  display: flex;

  @include layout.md {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.sectionButton {
  border: none;
  font-family: "Spectral", serif;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  flex: 1;
  border-bottom: solid black 1px;
}

.sectionButtonDeselected {
  background-color: transparent;
  border: none;
  font-family: "Spectral", serif;
  font-size: 12px;
  height: 100%;
  flex: 1;
  color: rgba(0, 0, 0, 0.25);
  border-bottom: solid rgba(0, 0, 0, 0.25) 1px;
}

.sectionButtonDeselected:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: solid rgba(0, 0, 0, 1) 1px;
  background-color: rgba(255, 255, 255, 1);
}

.sectionButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

.overlaybutton {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 0;
  opacity: 50%;
  margin-left: 8px;
  cursor: pointer;
}

.overlaybutton img {
  height: 100%;
  width: 100%;
}

.customTooltip {
  background-color: #ffffff !important;
 
  color: black !important;
  font-size: 14px !important;
  padding: 10px !important;
  border-radius: 0px !important;
  max-width: 250px !important;
  border: solid black 1px !important;
  z-index: 1000 !important;
  transform: translateY() !important;
  
  transition: opacity 0.5s ease-in-out !important;
  // opacity: 100% !important;
}

.customTooltip::before,
.customTooltip::after
{
  display: none !important;
  border:0 !important;
  content: none !important;
}
