.question {
  width: 100%;
  max-width: 620px;
  display: flex;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  width: 100%;

  max-height: 0;
  overflow: hidden; /* Hides content when collapsed */
  /* transition: max-height 0.8s ease-in-out, padding 0.8s ease-in-out; */
  padding: 0; /* Ensures padding doesn't affect collapsing */
}

.title {
  font-family: "Spectral", serif;
  font-size: 24px;
  line-height: 112%;
  cursor: default;
  user-select: none;
  padding-top: 24px;
  padding-bottom: 24px;

  .icon {
    display: inline-block;
    width: 24px;
  }
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
}

.title:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
  user-select: none;
}

.header {
  .question {
    justify-content: center;
  }

  .title {
    font-family: "Spectral", serif;
    font-size: 36px;
    padding: 0;
    cursor: default;
    user-select: none;

    .icon {
      display: inline-block;
      width: 36px;
    }
  }
}

.answer.open {
  max-height: 5000px; /* Adjust if needed */
  // padding: 20px; /* Add padding back when expanded */
  padding-left: 20px; /* Add padding back when expanded */
  padding-right: 20px; /* Add padding back when expanded */
}

.toggle {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* gap: 24px; */
}

.line {
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  width: 100%;
  max-width: 700px;
}
