@use "../../styles/layout";

.subchapterNav {
  display: none;

  @include layout.md {
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding-top: 240px; */
  }
}

.subchapterNavText {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 120px;
}

.previousSubChapter:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.previousSubChapterContainer {
  height: 202px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: solid black 1px;
  margin-bottom: 38px;
}

@keyframes previous {
  0% {
    height: 0;
  }

  100% {
    height: 17px;
  }
}

@keyframes upcoming {
  0% {
    height: 0;
  }

  100% {
    height: 72px;
  }
}

.previousSubChapter {
  width: 100%;
  /* height: 17px; */
  padding-left: 12px;
  border-top: solid 1px rgba(0, 0, 0, 0.3);
  animation: previous ease-in-out 0.6s 1 forwards;
}

.upcomingSubChapter {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  height: 72px;
  display: flex;
  align-items: flex-end;
  border-bottom: solid 1px black;
  width: 60px;
  padding-left: 12px;
  animation: upcoming ease-in-out 0.6s 1 forwards;
}

.upcomingSubChapter:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
