.maincontent {
  min-width: 950px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 176px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
  scrollbar-width: 0px;
  scroll-behavior: smooth;
}

.chapter {
  display: flex;
  position: absolute;
  background-color: #fff5e5;

  overflow: hidden;
  transition: left 600ms ease-in-out;
}

.chap-next {
  /* background-color: #FBE0F3; */
  border-left: solid black 1px;
}

.chap-next:hover {
  background-color: #191818;
}

.chap-upcoming {
  /* background-color: #FBE0F3; */
  border-left: solid black 1px;
}

.chap-1 {
  background-color: yellow;
}

.chap-2 {
  background-color: #fbe0f3;
}

.chap-3 {
  background-color: #f4e9fe;
}

.chap-4 {
  background-color: #dfeee6;
}

.chap-5 {
  background-color: #e4f4ff;
}

.chap-current {
  background-color: #fff5e5;
  border-right: solid black 1px;
}

.chap-current:hover {
  background-color: #191818;
}

.chap-previous {
  background-color: #e1e0e0;
  border-right: solid black 1px;
}

.chap-previous:hover {
  background-color: #191818;
}

.chap-archived {
  background-color: #e1e0e0;
  border-right: solid black 1px;
}

.simulatorcontent {
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
}

.chart {
  /* max-width: 620px; */
  /* max-height: 500px; */
  width: 100%;
  max-width: 950px;
  height: 420px;
  transition: max-width 300ms;
}

.paragraph {
  font-size: 16px;
  line-height: 160%;
  font-family: "spectral";
}

.answerparagraph {
  padding-bottom: 16px;
}

.callout {
  font-size: 24px;
  line-height: 112%;
  font-family: "spectral";
}

.textblock {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* padding: 24px; */
}

.chaptername {
  font-size: 86px;
  line-height: 93%;
  font-family: "spectral";
  text-align: center;
  /* width: 100%; */
  max-width: 950px;
  text-transform: uppercase;
}

.subchaptername {
  max-width: 620px;
  font-size: 36px;
  line-height: 100%;
  font-family: "spectral";
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  text-align: center;
}

.bottompadding {
  height: 240px;
  border-bottom: solid 1px black;
  width: 100%;
}

.subchapterNav {
  /* position: fixed;
    top: 0px;
    left: 0px; */
  height: 100vh;
  width: 60px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding-top: 240px;
}

.subchapterInnerNav {
  height: 100vh;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding-top: 240px; */
}

.subchapterInnernavText {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 120px;
}

.previousSubChapter:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.previousSubChapterContainer {
  height: 202px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: solid black 1px;
  margin-bottom: 38px;
}

@keyframes previous {
  0% {
    height: 0px;
  }

  100% {
    height: 17px;
  }
}

@keyframes upcoming {
  0% {
    height: 0px;
  }

  100% {
    height: 72px;
  }
}

.previousSubChapter {
  width: 100%;
  /* height: 17px; */
  padding-left: 12px;
  border-top: solid 1px rgba(0, 0, 0, 0.3);
  animation: previous ease-in-out 0.6s 1 forwards;
}

.upcomingSubChapter {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  height: 72px;
  display: flex;
  align-items: flex-end;
  border-bottom: solid 1px black;
  width: 60px;
  padding-left: 12px;
  animation: upcoming ease-in-out 0.6s 1 forwards;
}

.upcomingSubChapter:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.subchapterNav:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.subchapterNavText {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 100%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.subchaptermodules {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  width: 100%;
  max-width: 950px;
  padding-top: 64px;
}

.simulationsubachaptermodules{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 100%;
  max-width: 950px;
  padding-top: 64px;
  margin-bottom: 240px;

}

.chartcontainer {
  /* background-color: red; */
  /* height: 500px; */
  width: 100%;
  max-width: 950px;
  transition: max-width 300ms;
  position: relative;
  display: inline-block;
}

.chartcontainer {
  position: relative;
  display: inline-block;
}

/* Common Overlay Styles */
.overlay,
.textOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.4s ease-in-out,
    transform 0.6s ease-in-out;
}

/* Image Overlay */
.overlay {
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
}

.overlay img {
  width: 100%;
  height: 100%;
}

/* Text Overlay */
.textOverlay {
  /* background: rgba(255, 255, 255, 0.8); */
  color: black;
  font-size: 18px;
  font-weight: bold;
  cursor: default;
}

.textOverlayInner {
  background-color: white;
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border: solid 1px black;
  max-width: 500px;
}

/* Visibility Class */
.visible {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0px);
}

/* Visibility Class */
.visible {
  opacity: 1;
  /* transform: scale(1); */
}

.chartcontainer img {
  width: 100%;
}

.sideNoteHeader {
  font-family: "Spectral", serif;
  font-size: 20px;
  line-height: 100%;
}

.sidenoteText {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.sidenoteInnterContainer {
  display: flex;
  border: solid 1px black;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.multipleSidenoteInnterContainer {
  display: flex;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
  align-items: left;
  padding: 24px;
  height: auto;
  flex: 1 1 300px;
}

.multipleCardsContainer {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.multipleSideNoteHeader {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 36px;
}

.desktopLabelXL {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  font-weight: bold;
}

.multipleCardsModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  border-top: solid rgba(0, 0, 0, 0.25) 1px;
  border-bottom: solid rgba(0, 0, 0, 0.25) 1px;
}

.fineprinta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;

  max-height: 0;
  overflow: hidden; /* Hides content when collapsed */
  /* transition: max-height 0.8s ease-in-out, padding 0.8s ease-in-out; */
  padding: 0; /* Ensures padding doesn't affect collapsing */
}

.fineprintqtype {
  font-size: 24px;
  font-family: "spectral";
  line-height: 112%;
  cursor: default;
  user-select: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.fineprintqtype:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
  user-select: none;
}

.fineprinta.open {
  max-height: 5000px; /* Adjust if needed */
  padding: 20px; /* Add padding back when expanded */
}

.Fineprintaccordionitem {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* gap: 24px; */
}

.fineprintharline {
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  width: 100%;
  max-width: 700px;
}

@media only screen and (max-width: 1130px) {
  .chart {
    width: 100%;
    max-width: 620px;
    transition: max-width 300ms;
  }

  .chartcontainer {
    width: 100%;
    max-width: 620px;
    transition: max-width 300ms;
  }
}
