.background {
  background-color: #191818;
  width: 100%;
}

.element1 {
  height: 200px;
  width: 200px;
  background-color: red;
}

.element2 {
  height: 200px;
  width: 200px;
  background-color: rgb(43, 0, 255);
}

.element3 {
  height: 200px;
  width: 200px;
  background-color: rgb(255, 234, 0);
}

.space {
  height: 100vh;
}

.fixed {
  height: 200px;
  width: 200px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 50vh;
  left: 50%;
}

.fixed2 {
  height: 200px;
  width: 200px;
  background-color: rgb(218, 0, 251);
  position: fixed;
  top: 25vh;
  left: 25vw;
}

.landingtext {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  position: relative; /* Default state before GSAP updates it */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: white; /* Optional: to make it stand out */
  /* padding: 20px; */
}

.landinginnertextContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.link {
  /* background-color: red; */
  font-family: "Spectral", serif;
  font-style: italic;
  font-size: 16px;
  width: 550px;
  padding-bottom: 30px;
  text-decoration: underline;
}

.link a {
  color: #191818 !important;
  text-decoration: underline;
  text-decoration-color: #191818 !important; /* Ensure underline stays black */
}

.empty {
  /* height: 10px;
    width: 10px; */
}

.healthy {
  /* background-color: red; */
  display: inline;
  white-space: nowrap; /* Prevents accidental wrapping */
}

.landingimage {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: transparent;
  z-index: 12;
  display: flex;
  justify-content: flex-start;
  transform: scale(1.1);
  /* background-color: rgb(0, 47, 255); */
}

.landingimage svg {
  height: 100%;
  width: 100%;
  max-width: 600px;
  object-fit: cover;

  /* transform: translateX(-500px); */
  /* background-color: red; */
  /* background-color: red; */
}

@keyframes imagefade {
  0% {
    opacity: 75%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 75%;
  }
}

.image {
  animation: imagefade 6s ease-in-out infinite;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
}

.image img {
  height: 100%;
  width: 100%;
  max-width: 600px;
  object-fit: contain;
  opacity: 50%;
  transform: scale(1.1);
}

.lightfaceContainer {
  /* background-color: red; */
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.lightfaceContainer img {
  max-width: 600px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: scale(1.1);
}

.container {
  background-color: #121212;
  height: 100vh;
  width: 100%;
  color: white;
}

@keyframes hotspot {
  0% {
    background-color: rgb(139, 139, 139);
  }

  50% {
    background-color: white;
  }

  100% {
    background-color: rgb(139, 139, 139);
  }
}

@keyframes hotspotbg {
  0% {
    background-color: rgba(255, 255, 255, 0.05);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.15);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.hoverDiv {
  width: 20px;
  height: 20px;
  /* background-color: rgb(255, 255, 255); */
  margin: 0 auto;
  cursor: pointer;
  outline: 5px solid rgb(139, 139, 139);
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
  animation: hotspot 2.5s ease-in-out infinite;
}

.hoverDivyellow:hover {
  background-color: #fff3a8;
  transition: all 0.2s ease-in-out;
  animation: none;
}

.hoverDiv:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.2s ease-in-out;
}

.hoverDivpink:hover {
  background-color: #f492ff;
  transition: all 0.2s ease-in-out;
  animation: none;
}

.hoverDivbg {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  animation: hotspotbg 2.5s ease-in-out infinite;
}

.hoverDivpink {
  animation-delay: 0.25s;
}

.hoverDivred {
  animation-delay: 0.5s;
}

/* .hoverDivyellow{
    
  } */

.hoverDivbgpink {
  animation-delay: 0.25s;
}

.hoverDivbgpink:hover {
  /* animation:none; */
}

.hoverDivbgred {
  animation-delay: 0.5s;
}

.hoverDivbgred:hover {
  /* animation:none; */
}

.hoverDivbgyellow:hover {
  /* animation:none; */
}

.hoverDivbgyellow {
  animation-delay: 0.3s;
}

.hoverDivred:hover {
  background-color: #f0696b;
  transition: all 0.2s ease-in-out;
  animation: none;
}

.hoverDivyellow {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  cursor: pointer;
  outline: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
  animation: hotspot 2.5s ease-in-out infinite;
  animation-delay: 0.75s;
}

.fadeDiv {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
  width: 750px;
  background-color: #191818;
  border: solid 1px white;
  line-height: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 100px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 800;
}

.uterusfadeDiv {
  top: -200px;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.womanContainer {
  /* position: fixed; */
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 250;
  /* top: 0px;
      left: 0px; */
}

.womanInnerContainer {
  position: absolute;
  height: 100%;
  width: 50%;
  max-width: 600px;
}

.womanInnerContainer img {
  height: 100%;
  width: 100%;
  /* width: 100; */
}

.hotspot {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 250;
}

.brain {
  top: 40px;
  right: 325px;
}

.uterus {
  top: 390px;
  right: 320px;
}

.organ4 {
  top: 265px;
  right: 340px;
}

.organ5 {
  top: 320px;
  right: 300px;
}

.heart {
  top: 180px;
  right: 290px;
}

.descriptiontext {
  font-size: 16px;
  line-height: 120%;
  color: white;
  font-family: "Spectral", serif;
  text-align: left;
}

.cardtop {
  display: flex;
  width: 100%;
}

.cardorgan {
  width: 50%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 100%; */
}

.cardtitle {
  font-size: 28px;
  line-height: 90%;
  color: white;
  font-family: "Spectral", serif;
  text-align: left;
  padding-bottom: 24px;
}

.cardorgan img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carddescription {
  width: 50%;
}

.cardnumber {
  font-size: 28px;
  line-height: 90%;
  color: white;
  font-family: "Spectral", serif;
}

.cardnumberdescription {
  font-size: 14px;
  line-height: 120%;
  color: white;
  font-family: "Spectral", serif;
  text-align: left;
}

.carddatapoint {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 8px;
  width: 120px;
}

.carddatacontainer {
  display: flex;
  gap: 36px;
}

.cardbottom {
  display: flex;
  justify-content: center;
}

.cardlabel {
  font-size: 14px;
  line-height: 120%;
  color: white;
  font-family: "Spectral", serif;
  text-align: left;
  padding-bottom: 2px;
}

.cardhairline {
  width: 100%;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
}

.tooltipcustom {
  font-family: "Spectral", serif;
  background-color: #191818;
  max-width: 250px;
  border: solid 1px white;
  white-space: normal; /* Ensures text wraps */
  word-wrap: break-word; /* Handles long words */
  line-height: 1.5; /* Adds spacing between lines */
  padding: 10px; /* Optional, for better readability */
  font-size: 14px; /* Adjust font size for clarity */
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

.tooltiphead {
  font-family: "Spectral", serif;
  font-weight: 600;
  line-height: 140%;
  font-size: 16px;
  padding-bottom: 12px;
}

.mapoutercountainer {
  height: 100vh;
  width: 100%;
  background-color: #191818;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.fade {
  opacity: 50%;
  transition: all 1s ease-in-out;
}

.mapbackground {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #191818;
}

.verticallinesbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontallinesbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticallines {
  position: absolute;
  width: 1280px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.vline {
  height: 90%;
  width: 1px;
  background-color: #313131;
}

.horizontallines {
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.hline {
  height: 1px;
  width: 1280px;
  background-color: #313131;
}

.gradientOverlay {
  position: absolute;
  right: 275px;
  top: 0;
  background-image: linear-gradient(to right, #191818, #19181800);
  height: 100vh;
  width: 600px;
  pointer-events: none;
}

.rcontainer {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 12;
}

.rdiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  z-index: 12;
}

.rvisible {
  opacity: 1;
}

.rhidden {
  opacity: 0;
}

.rhotspot {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 10;
  /* background-color: rgba(255, 255, 255, 0.15); */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rhotspotcontainer {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rhotspotinnercontainer {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  outline: 5px solid rgba(255, 255, 255, 0.05);
  border-radius: 100%;
}

.rcard {
  position: absolute;
  background-color: #191818;
  border: solid white 1px;
  width: 440px;
  /* height: 540px; */
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.brainrcard {
  top: 0;
  right: 64px;
}

.uterisrcard {
  top: -250px;
  right: 64px;
}

.heartrcard {
  top: -100px;
  right: 64px;
}

.rcardheader {
  font-family: "Spectral", serif;
  font-size: 24px;
  line-height: 100%;
  color: white;
  padding-bottom: 16px;
}
.rcardtext {
  font-family: "Spectral", serif;
  font-size: 16px;
  line-height: 120%;
  color: white;
}

.rcardimage {
  width: 100%;
  /* background-color: white; */
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rcardimage img {
  width: 100%;
  max-height: 120%;
  object-fit: contain;
}

.productivity {
  background-color: #fff3a8;
}

.textproductivity {
  color: #fff3a8;
}

.fertility {
  background-color: #f492ff;
}

.textfertility {
  color: #f492ff;
}

.mortality {
  background-color: #f0696b;
}

.textmortality {
  color: #f0696b;
}

.misc {
  background-color: white;
}

.abovefold {
  height: 100vh;
  width: 100vh;
  background-color: #191818;
}

.scrollContainerLanding {
  height: 1300vh; /* Total height to enable scrolling */
  position: relative;
  background-color: #191818;
  overflow-x: hidden;
}

.sectionLanding {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 100%;
  transition: opacity 1.4s ease-in-out;
  pointer-events: none; /* Prevent interaction when not visible */
  flex-grow: 0;
}

.sectionLandingVisible {
  opacity: 1;
  pointer-events: auto; /* Allow interaction when visible */
}

.landingoutertext {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
  pointer-events: none;
  width: 50%;
  gap: 36px;
}

.landinginnertext {
  width: 100%;
  max-width: 550px;
  font-family: "Spectral", serif;
  font-size: 44px;
  line-height: 120%;
  /* display: flex;
    align-items: flex-start; */
}

.landingmedium {
  font-size: 36px;
  line-height: 106%;
}

.landingsmall {
  font-family: "Spectral", serif;
  font-size: 24px;
  line-height: 106%;
}

.landingsmall2 {
  font-family: "Spectral", serif;
  font-size: 20px;
  line-height: 130%;
}

.light {
  color: white;
}

.space {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  position: relative;
}

.halfspace {
  height: 50vh;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
}

.quarterspace {
  height: 25vh;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
}

.landingtextlight {
  font-family: "Spectral", serif;
  font-size: 46px;
  line-height: 130%;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: transparent; */
  color: white;
  position: relative;
  z-index: 200;
  pointer-events: none;
}

.landingtextlightinnercontainer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 200;
  pointer-events: none;
  margin: auto;
  background-color: #191818;
  padding: 36px;
  border: solid 1px white;
  gap: 24px;
}

.landingtextlightinnercontainer2 {
  max-width: 1200px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 200;
  pointer-events: none;
  /* margin: auto; */
  background-color: transparent;
  /* padding: 36px; */
  /* max-width: 550px; */
  /* border: solid 1px white; */
  gap: 24px;
}

.landingtextlightcontainer2 {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
}

.landingtextlightcontainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.landingtextleft {
  flex: 1;
  max-width: 520px;
}

.landingtextright {
  flex: 1;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.landingtextleft2 {
  max-width: 550px;
}

.landingtextright2 {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.landingtextlarge {
  font-family: "Spectral", serif;
  font-size: 36px;
  line-height: 106%;
  text-align: left;
}

.landingtextsmall {
  font-family: "Spectral", serif;
  font-size: 16px;
  line-height: 140%;
}

.maxwidth400 {
  max-width: 400px;
}

.maxwidth400 {
  max-width: 500px;
}

.faceoutercontainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

.faceinnercontainer {
  width: 50%;
  height: 100vh;
}

.faceimage {
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.faceimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotspotcontainer {
  width: 100%;
  height: 100vh;
  z-index: 500;
}

.jvm-tooltip {
  z-index: 500;
}

// .overviewContainer{
//   height: 200vh;
//   width: 100vw;
//   background-color: red;
// }


.fadeIn {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fadeIn.visible {
  opacity: 1;
}
