.nav {
  position: fixed;
  width: 100vw;
  border-bottom: solid black 1px;
  z-index: 5;
}

.navtop {
  background-color: #fff5e5;
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.navbottom {
  overflow: hidden;
}

.hide {
  height: 0px;
  transition: height 600ms ease-in-out;
  background-color: #fff5e5;
}

.show {
  height: calc(100vh - 56px);
  transition: height 600ms ease-in-out;
  background-color: #fff5e5;
}

.left {
  font-family: "spectral";
  font-size: 12px;
  letter-spacing: 5%;
  background-color: transparent;
  border: 0px;
}

.left:hover {
  color: rgba(0, 0, 0, 0.5);
}

.right {
  display: flex;
  font-family: "spectral";
  font-size: 12px;
  letter-spacing: 5%;
  gap: 32px;
}

.navitem{
  padding-bottom: 4px;
  padding-top: 4px;
  font-family: "spectral";
  color: rgba(0, 0, 0);
  display: flex;
  font-weight: 200;
}

.subchapnumber{
  width: 36px;
  color: rgba(0, 0, 0);
}

.chapnumber{
  width: 36px;
  color: rgba(0, 0, 0);
  
}

.navitem:hover{
  opacity: 50%;
}

.navchapteritem{
  padding-bottom: 2px;
  margin-bottom: 6px;
  padding-top: 18px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.20);
  font-family: "spectral";
  display: flex;
  font-weight: 600;
  
  
}

.navchapteritem:hover{
  opacity: 50%;
}

.navitemscontainer{
  width: 540px;
  margin: auto;
}

.navbottomTitle{
  padding-top: 18px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  font-size: 36px;
  font-family: "spectral";
  /* width: 100%;
  margin: auto; */
  /* background-color: blue; */
}