.nav {
  position: fixed;
  width: 100%;
  border-bottom: solid black 1px;
  overflow: hidden;
  background-color: #fff5e5;
  transition:
    height 600ms ease-in-out,
    z-index 0ms linear 200ms,
    transform 0.2s ease-in-out;
  height: 56px;
  z-index: 1000;

  &.expanded {
    z-index: 1002;
    height: calc(100% + 1px);
  }

  &.hidden {
    //visibility: hidden;
    transform: translateY(-60px);
  }
}

.navbottom {
  overflow-y: hidden;
  height: calc(100% - 56px);
  width: 100%;

  &.scrollable {
    overflow-y: auto;
  }
}

.navtop {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.left {
  font-family: "Spectral", serif;
  font-size: 12px;
  background-color: transparent;
  border: 0;
}

.left:hover {
  color: rgba(0, 0, 0, 0.5);
}

.right {
  display: flex;
  font-family: "Spectral", serif;
  font-size: 12px;
  gap: 32px;
}

.navitem {
  padding-bottom: 4px;
  padding-top: 4px;
  font-family: "Spectral", serif;
  color: rgba(0, 0, 0);
  display: flex;
  font-weight: 200;
}

.subchapnumber {
  width: 36px;
  color: rgba(0, 0, 0);
}

.chapnumber {
  width: 36px;
  color: rgba(0, 0, 0);
}

.navitem:hover {
  opacity: 50%;
}

.navchapteritem {
  padding-bottom: 2px;
  margin-bottom: 6px;
  padding-top: 18px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-family: "Spectral", serif;
  display: flex;
  font-weight: 600;
}

.navchapteritem:hover {
  opacity: 50%;
}

.navitemscontainer {
  max-width: 540px;
  margin: auto;
}

.navbottomTitle {
  padding-top: 18px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  font-size: 36px;
  font-family: "Spectral", serif;
  /* width: 100%;
  margin: auto; */
  /* background-color: blue; */
}
