.rcard {
  position: relative;
  margin-top: 24px;
    background-color: #191818;
    border: solid white 1px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 46px;
  }

  .color{
    background-color: white;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 28px;
    left: 28px;
    border-radius: 100%;
  }

  .rcardtext {
    font-family: "Spectral", serif;
    font-size: 16px;
    line-height: 120%;
    color: white;
  }
  
  .rcardimage {
    width: 100%;
    /* background-color: white; */
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rcardimage img {
    width: 100%;
    max-height: 120%;
    object-fit: contain;
  }

  .rcardheader {
    font-family: "Spectral", serif;
    font-size: 24px;
    line-height: 100%;
    color: white;
    padding-bottom: 16px;
  }

 