@use "sass:map";

$breakpoints: (
  md: 768px,
  lg: 1024px,
);

@mixin respond($size) {
  @if map.has-key($breakpoints, $size) {
    @media (min-width: map.get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$size} not found in $breakpoints map.";
  }
}

@mixin md {
  @include respond(md) {
    @content;
  }
}
@mixin lg {
  @include respond(lg) {
    @content;
  }
}
