.title {
  font-family: "Spectral", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 16px;
  max-width: 620px;
}

.item {
  display: flex;
  flex-direction: column;

  width: 100%;
  /* margin-top: 14px; */
}

.questioncontainer {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  gap: 16px;
  width: 100%;
  max-width: 620px;
  margin: auto;
  border-top: solid 1px black;
}

.questioncontainer:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button {
  height: 16px;
  width: 16px;
}

.question {
  width: 100%;
  font-family: "Spectral", serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}

.answerBlock {
  display: block; // not flex
}

.answerparagraph {
  margin-bottom: 12px;
  max-width: 620px;
  padding-left: 16px;
  margin: auto;
  padding-bottom: 16px;


  &:last-child {
    margin-bottom: 0;
  }
}

.answerpadding {
  height: 14px;
  width: 100%;
}

.answer {
  padding-left: 32px;
  font-family: "Spectral", serif;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  & > * {
    margin: auto;
  }
}

.accordioncontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently                               supported by Chrome, Edge, Opera and Firefox */
}

.closed {
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
}

.open {
  max-height: 1000px; /* A high value to ensure content fits */
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
}

.label{
  padding-top: 14px;
  max-width: 620px;
  border-top: solid #00000020 1px;
  color: #878787;
  line-height: 110%;
  padding-left: 32px;
}
