.container{
    margin-top: 32px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // background-color: aqua;
}

@keyframes hotspot{
    0%{
        background-color: rgba(0, 0, 0, 0.15);
    }


    50%{
        background-color: rgba(0, 0, 0, 0.05);
    }
    
    
    100%{
            background-color: rgba(0, 0, 0, 0.15);   
        }

}

.space{
  // background-color: red;
  min-height: 64px;
  width: 100%;
}

.spacer{
  // background-color: red;
  min-height: 240px;
  width: 100%;
  border-bottom: solid 1px black;
}

.hotspot {
    animation: hotspot 3s ease-in-out infinite;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
  }

  .hotspotinnercontainer {
    width: 20px;
    height: 20px;
    border: 0;
    background-color: white;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    transition: outline 0.2s ease-in-out, background-color 0.2s ease-in-out;
    
  }
  
  .hotspotinnercontainer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    outline: 7px solid rgba(255, 255, 255, 0.85);
    cursor: pointer;
  }
  

  .image{
    height: 100%;
    width: 950px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .imageContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 950px;
  }

  .image img{
    // height: 100%;
    width: 100%;
    position: relative;
  }


  .customTooltip {
    background: #FFF5E5 !important;
    color: black !important;
    border: 1px solid black !important;
    border-radius: 0px !important;
    // max-width: var(--tooltip-max-width, 500px) !important; // ✅ fallback default
    padding: 24px !important;
    position: absolute !important;
    z-index: 1001 !important;
    max-width: 700px;
    font-family: "Spectral", serif !important; // force your font

  }

  .customTooltip::before {
    display: none !important;
  }

  .customTooltip::after {
    border: 0px !important;
     display: none !important;

  }

  .tooltipContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    
    
  }
  
  // .tooltipImage {
  //   width: 50%;
  //   height: 250px;
  //   object-fit: contain;
  //   border-radius: 0px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   object-position: center;
  // }

  .imageWrapper{
    width: 50%;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageWrapper img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .tooltipImage img{

  }
  
  .tooltipText {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .tooltipTitle {
    // font-weight: bold;
    // margin-bottom: 4px;
    line-height: 90%;
    font-size: 28px;
  }
  
  .tooltipBody {
    padding-top: 16px;
    font-size: 14px;
    line-height: 140%;
  }

  .statoutercontainer{
    display: flex;
    flex-direction: row;
    gap: 36px;
  }

  .statcontainer{
    display: flex;
    flex-direction: column;
    width: 120px;
  }

  .topDiv{
    display: flex;
    align-items: center;
  }

  .intervention{
    font-size: 14px;
    line-height: 120%;
    padding-bottom: 2px;
    text-align: left;
    font-family: "Spectral", serif;
  }

  .stat{
    font-size: 28px;
    line-height: 90%;
    font-family: "Spectral", serif;
  }

  .statlabel{
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    padding-top: 8px;
  }

  .hairline{
    border-top: solid 1px rgba(0, 0, 0, 0.25);
    width: 100%;
  }

 
  
  