.cta{
    padding: 12px 24px;
    background-color: #FFF5E5;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    display:inline-block;
    text-transform: uppercase;
}

.cta:hover{
    padding: 12px 24px;
    background-color: #191818;
    border: solid 1px #FFF5E5;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    display:inline-block;
    cursor: pointer;
    text-transform: uppercase;
}