@use "../../styles/layout";

.image {
  border-radius: 50%;
  background-color: grey;
}

.items_two {
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px 32px;

  @include layout.md {
    grid-template-columns: 1fr 1fr;
  }

  .image {
    aspect-ratio: 1;
    width: 100%;
    max-width: 116px;
    margin-right: 24px;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.items_three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @include layout.md {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image {
    aspect-ratio: 1;
    width: 100%;
    max-width: 160px;
    margin-bottom: 24px;
  }

  .item {
    display: flex;
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Spectral", serif;
  font-size: 24px;
  line-height: 112%;
  margin-bottom: 12px;
}

.description {
  font-family: "Spectral", serif;
  font-size: 12px;
  line-height: 120%;

  p {
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
