.tooltipAnchor {
  text-decoration: underline;
}

.customTooltip {
  background-color: #ffffff !important;

  color: black !important;
  font-size: 14px !important;
  padding: 10px !important;
  border-radius: 0px !important;
  max-width: 250px !important;
  border: solid black 1px !important;
  z-index: 1000 !important;
  transform: translateY() !important;

  transition: opacity 0.5s ease-in-out !important;
  // opacity: 100% !important;
}

.customTooltip::before,
.customTooltip::after {
  display: none !important;
  border: 0 !important;
  content: none !important;
}
