@use "../../styles/layout";

.multipleSidenoteInnerContainer {
  display: flex;
  border: solid 1px black;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
  align-items: flex-start;
  padding: 24px;
  height: auto;
  flex: 1 1 300px;

  @include layout.md {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
    transition-delay: var(--delay);

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.multipleCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;

  @include layout.md {
    flex-direction: row;
  }
}

.multipleSideNoteHeader {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 36px;
}

.desktopLabelXL {
  font-family: "Spectral", serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: bold;
}

.multipleCardsModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  border-top: solid rgba(0, 0, 0, 0.25) 1px;
  border-bottom: solid rgba(0, 0, 0, 0.25) 1px;
}
