@use "../../styles/layout";

.items {
  display: grid;
  margin-top: 64px;
  grid-template-columns: 1fr 1fr;
  gap: 24px 32px;
  width: 100%;

  @include layout.md {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.item {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: "Spectral", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
}

.organization {
  font-family: "Spectral", serif;
  font-size: 12px;
  line-height: 120%;
}
