.book {
  display: flex;
  flex-grow: 0;
  width: 100%;
  background-color: #fff5e5;

  &.active {
    flex-grow: 1;
  }

  .chapter {
    overflow: hidden;
    transition:
      flex-grow 600ms ease-in-out,
      flex-basis 600ms ease-in-out;

    &.previous {
      flex-basis: 60px;
      flex-grow: 0;
    }

    &.archived {
      flex-basis: 0;
      flex-grow: 0;
      transition:
        flex-grow 600ms ease-in-out,
        flex-basis 600ms ease-in-out;
    }

    &.current {
      flex-grow: 1;
      flex-basis: 70%;
    }

    &.upcoming {
      flex-basis: 0;
      flex-grow: 0;
      transition:
        flex-grow 600ms ease-in-out,
        flex-basis 600ms ease-in-out;
    }

    &.next {
      flex-basis: 60px;
      flex-grow: 0;
    }

    .chapter-bar {
      height: 100vh;
      width: 60px;
      flex-shrink: 0;
      border: solid 0;

      &.chap-next {
        // background-color: #FBE0F3;
        border-left: solid black 1px;
      }

      &.chap-next:hover {
        background-color: #191818;
      }

      &.chap-upcoming {
        // background-color: #FBE0F3;
        border-left: solid black 1px;
      }

      &.chap-1 {
        background-color: yellow;
      }

      &.chap-2 {
        background-color: #fbe0f3;
      }

      &.chap-3 {
        background-color: #cae9ff;
      }

      &.chap-current {
        background-color: #fff5e5;
        border-right: solid black 1px;
      }

      &.chap-current:hover {
        background-color: #191818;
      }

      &.chap-previous {
        background-color: #e1e0e0;
        border-right: solid black 1px;
      }

      &.chap-previous:hover {
        background-color: #191818;
      }

      &.chap-archived {
        background-color: #e1e0e0;
        border-right: solid black 1px;
      }
    }
  }
}

body {
  margin: 0;
}

#root {
  width: 100%;
}
