@import "Book.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden;
  overflow-y: scroll; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainwrapper {
  max-width: 100vw;
  /* height: 100vh; */
  margin: auto;
  background-color: #fff5e5;
  overflow-y: hidden;
  display: flex;
  /* background-color: #0a0a0a; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main {
  display: flex;
  width: 100%;

  .content {
    transition: width 1200ms ease-in-out;
    position: relative;
    overflow: hidden;

    &.book {
      position: sticky;
      top: 0;
      height: 100vh;
      z-index: 2;
    }

    &.landing {
      z-index: 1;
    }

    &.active {
      width: 100%;
    }

    &.inactive {
      width: 0;
    }
  }
}
