:root {
  --background: #fff5e5;
  --foreground: #171717;
}

html,
body,
#__next {
  width: 100%;
  min-height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  display: flex;
  width: 100%;
}
